#ajaxLoader {
	display: none;
	text-align: center;
	margin: 100px 0 0 0
}

.form-footer {
	padding-top: 10px;
	margin-top: 15px;
	border-top: 1px solid #ccc;
	float: left;
	width: 100%
}

.clearfix {
	display: block
}

select, textarea, input[type="text"], input[type="password"] {
	font-size: 14px;
	line-height: 20px;
	padding: 5px 6px
}

.control-group {
	margin-bottom: 30px unset
}

.control-group .control-label {
	float: left;
	padding-top: 5px;
	text-align: right;
	width: 160px
}

.control-group .controls {
	float: none;
	width: auto;
	margin-left: 180px
}

/**
 * Makes the table have horizontal scroll bar if its too wide for its container
 */
.datatable-scroll {
    overflow-x: auto;
    overflow-y: auto;
}