
body, html {
	font-family: "PT Sans", sans-serif !important;
	background-color: #f8f8f8;
	color: #4b5159;
	overflow-x: hidden
}

* {
	margin: 0;
	padding: 0
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 60px;
        padding: 0 0px;
        border-left: 1px solid #e7e7e7;
    }
}

.margin-lxs {
	margin-left: 3px
}

.margin-lm {
	margin-left: 10px
}

.margin-rs {
	margin-right: 5px
}

.margin-ts {
	margin-top: 5px
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 8px 12px;
    min-height: 30px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 37px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}



table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

ol.breadcrumb {
	background: 0;
	padding: 15px;
	margin: 0 0 0 0px;
	color: #999
}

.breadcrumb>.active span {
	color: #333;
	font-size: 18px
}

.breadcrumb>li+li:before {
	content: "\00BB" !important
}
.widget {
	margin-bottom: 50px
}

.widget .widget-title {
	background-color: #f7f7f7;
	border-color: #ccc #ccc #ccc;
	border-style: solid;
	border-width: 1px;
	color: #333;
	position: relative;
	padding: 10px 20px
}

.widget .widget-title h3 {
	color: #333;
	font-size: 15px;
	margin: 0;
	text-transform: uppercase
}

.widget .widget-content {
	border-color: #ccc;
	border-style: none solid solid;
	border-width: medium 1px 1px;
	background-color: #fff;
	padding: 20px 30px;
	min-height: 100px;
	position: relative
}

.widget-content {
	height: auto
}

.widget-tab-content.tab-content {
	padding: 0;
	border: 0
}

.widget .widget-title ul.nav-tabs {
	margin-bottom: -10px;
	border: 0
}

.msg-success, .msg-failure, .msg-duplicacy {
	display: none
}

.clearfix {
	display: inline-block
}

table.dataTable {
	clear: both;
	margin: 0 auto;
	margin-top: 10px !important;
	width: 100%
}

table.dataTable thead th {
	border-bottom: 1px solid #000;
	cursor: pointer;
	font-weight: bold;
	padding: 3px 18px 3px 10px
}


table.table thead .sorting {
	background: url("../images/sort_both.png") no-repeat scroll right center
		#fff
}

.sorting_asc {
	background: url("../images/sort_asc.png") no-repeat scroll right center
		rgba(0, 0, 0, 0)
}

.sorting_desc {
	background: url("../images/sort_desc.png") no-repeat scroll right center
		rgba(0, 0, 0, 0)
}

table.dataTable td {
	padding: 3px 10px
}

div.dataTables_info {
	padding-top: 5px
}

.dataTables_info {
	clear: both;
	float: left
}

div.dataTables_paginate {
	float: right;
	margin: 5px;
	text-align: right
}

.dataTables_paginate a {
	margin-left: 10px;
	cursor: pointer
}

.dataTables_paginate a.paginate_disabled_next, .dataTables_paginate a.paginate_disabled_next:hover,
	.dataTables_paginate a.paginate_disabled_previous, .dataTables_paginate a.paginate_disabled_previous:hover
	{
	color: #aaa;
	cursor: default;
	text-decoration: none
}

.dataTables_paginate a.paginate_button_disabled, .dataTables_paginate a.paginate_button_disabled:hover
	{
	color: #aaa;
	cursor: default;
	text-decoration: none
}

.dataTables_paginate a.paginate_active, .dataTables_paginate a.paginate_active:hover
	{
	color: #333;
	cursor: default;
	text-decoration: none
}

#messagesTbl a.paginate_disabled_next, #messagesTbl a.paginate_disabled_next:hover,
	#messagesTbl a.paginate_disabled_previous, #messagesTbl a.paginate_disabled_previous:hover
	{
	cursor: pointer;
	text-decoration: none
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
	border-bottom-width: 1px !important
}

.dataTables_filter input {
	width: 220px
}

.action-wrap {
	display: block
}

.action-wrap a {
	margin: 0 3px;
	display: inline-block
}

.add-ico .fa, .remove-ico .fa, .help-ico .fa, .action-wrap .fa,
	.config-ico .fa, .move-right, .move-left, .move-up, .move-down {
	width: 22px;
	height: 22px;
	line-height: 21px;
	font-size: 12px;
	text-align: center;
	border: 1px solid;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%
}

label {
    font-weight: normal !important;
}


.sidebar-wrapper {
	position: fixed;
	top: 37px;
	bottom: 0;
	z-index: 10030;
	width: 60px;
	white-space: nowrap;
	overflow: hidden;
	background: #383432;
	box-shadow: 0 0 5px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0 0 5px rgba(50, 50, 50, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(50, 50, 50, 0.5);
	transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s
}

.sidebar-wrapper:hover {
	width: 280px
}

.sidebar-wrapper ul {
	width: 280px
}

.sidebar-wrapper a, .sidebar-wrapper a:active, .sidebar-wrapper a:focus
	{
	color: #fff;
	text-decoration: none;
	position: relative;
	width: 100%;
	display: inline-block;
	outline: 0
}

.sidebar-wrapper a:hover {
	color: #fff;
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
	background: #949494
}

.sidebar-wrapper li.active>a {
	color: #fff;
	background: #ed135a
}

.sidebar-wrapper li.logo-wrap {
	color: #fff;
	padding: 20px 0 20px 10px;
	background: #ebebeb
}

.sidebar-wrapper li.logo-wrap span {
	font-size: 12px;
	padding: 0 15px 0 5px;
	margin: 0
}

.sidebar-wrapper a i {
	width: 50px !important;
	text-align: center;
	font-size: 20px;
	padding: 10px 0;
	margin: 0 5px
}

.sidebar-wrapper a em {
	position: absolute;
	font-size: 10px;
	top: 13px;
	left: 11px
}

.sidebar-wrapper span {
	text-align: center;
	padding: 10px 0;
	margin: 0 5px;
	font-size: 16px;
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s
}

.sidebar-wrapper li.user-wrap {
	background: #383432;
	padding: 10px 10px 5px;
	color: #fff;
	position: relative
}

.sidebar-wrapper li.user-wrap em {
	width: 45px;
	height: 30px;
	display: inline-block;
	color: #fff;
	font-size: 20px
}

.sidebar-wrapper li.user-wrap em i {
	margin-left: 11px
}

.sidebar-wrapper li.user-wrap a {
	color: #fff;
	font-size: 14px;
	width: auto;
	top: 17px;
	right: 10px;
	position: absolute;
	background: 0;
	text-transform: uppercase;
	min-width: 90px;
	text-align: right
}

.sidebar-wrapper li.user-wrap a:hover {
	text-decoration: underline
}
